.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.25rem;
  font-weight: 400;
}

.subtitle {
  display: flex;
  font-size: 1rem;
  align-items: center;
}

.dot {
  width: 0.667rem;
  height: 0.667rem;
  border-radius: 50%;
  background-color: aqua;
  margin-right: 8px;
}

.task-controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  gap: 5px;
  margin-top: 12px;
}

.timer {
  margin: auto 0;
  font-size: 5.063rem;
  align-self: center;
}

.pomodore-controls {
  display: grid;
  grid-template-rows: auto auto;
  gap: 10px 5px;
}
