.tasks-list {
  list-style: none;
  display: grid;
  gap: 10px;
}

.task-item {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.task-project {
  font-size: 0.878rem;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: skyblue;
  border-radius: 50%;
  margin-right: 4px;
}
