* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.screen {
  flex: 1;
  padding: 16px;
}

.action-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 12px;
  cursor: pointer;
}

.app {
  background-color: #051b53;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}
